.page-title{
    color: red;
    text-align: center;
}
.nav-list{
    list-style-type: none;
    
}
.name-page{
    color: purple;
    text-align: center;
}
.name-list{
    color: rgb(164, 137, 46);
}
nav{
    text-align: center;
}